.profile-wrapper {
    max-width: 1200px;
    min-height: 80vh;
    margin: 40px auto;
    padding: 0 20px;
}

.profile-container {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    gap: 40px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.save-changes {
    display: none;
    background-color: #e8e6e6;
    border-radius: 5px;
    width: 160px;
    padding: 12px;
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.changes-button-container {
    display: flex;
    justify-content: space-between;
}

.changes-button-container button {
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.changes-button-container button.cancel-btn {
    background-color: #474747;
}

.changes-button-container button:not(.cancel-btn) {
    background-color: #540185;
}

.user-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.welcome-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #1E1E1E;
    margin: 0;
}

.username {
    color: #540185;
}

.user-info {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #1E1E1E;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-info h2 {
    font-size: 24px;
    text-align: center;
}

.info-item,
.info-secure-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid #E0E0E0;
}

.info-item p,
.info-secure-item p {
    width: 400px;
}

.info-secure-item a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px) {
    .profile-container {
        padding: 20px;
    }

    .user-info {
        font-size: 18px;
    }

    .info-item p,
    .info-secure-item p {
        width: 250px;
    }

    .save-changes {
        align-self: self-start;
        padding: 10px;
    }

}

@media(max-width: 480px) {

    .info-item,
    .info-secure-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .info-item p,
    .info-secure-item p {
        width: 100%;
    }
    .save-changes {
        align-self: center;
        width: 100%;
    }
}