/*Kiitos tilauksesta*/
.kiitos-tilaus {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 100px;
    background-color: #f0f0f0;
}

.kiitos-tilaus>h1 {
    font-size: 100px;
}

.toimitamme {
    font-size: 40px;
    color: #707070;
}

.kysy {
    font-size: 30px;
    color: #767676;
}

.copy {
    margin: 20px;
    padding: 10px 20px;
    width: 300px;
    font-size: 15px;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    background-color: #000000;
    color: white;
    border-radius: 7px;
    cursor: pointer;

}

.copy:hover {
    background-color: #acadac;
}

.tooltip {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}